# ==== Java / livestate-server ====
livestate-server/**/*.class
livestate-server/logs
livestate-server/*.log
livestate-server/.mtj.tmp/
livestate-server/*.jar
livestate-server/*.war
livestate-server/*.nar
livestate-server/*.ear
livestate-server/*.zip
livestate-server/*.tar.gz
livestate-server/*.rar
livestate-server/hs_err_pid*
livestate-server/replay_pid*
livestate-server/.gradle/
livestate-server/build/
livestate-server/**/*.lock

# ==== Node / Next.js / livestate-nextjs ====
livestate-nextjs/node_modules/
livestate-nextjs/.next
livestate-nextjs/out
livestate-nextjs/.npm
livestate-nextjs/.cache
livestate-nextjs/.parcel-cache
livestate-nextjs/.eslintcache
livestate-nextjs/.stylelintcache
livestate-nextjs/.nyc_output
livestate-nextjs/npm-debug.log*
livestate-nextjs/yarn-debug.log*
livestate-nextjs/yarn-error.log*
livestate-nextjs/.pnp.*
livestate-nextjs/.vite/
livestate-nextjs/.serverless/
livestate-nextjs/dist
livestate-nextjs/.temp
livestate-nextjs/.firebase/
livestate-nextjs/.dynamodb/
livestate-nextjs/.fusebox/
livestate-nextjs/.tern-port
livestate-nextjs/.yarn/*
